/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : Dec 22, 2024, 10:00:44 AM
    Author     : Chi Tien
*/
img {
    width: 150px;
    height: 220px;
}
